#WhoQumra{
    width: 100%;
    margin-top: 100px;
}
.Who-head{
    display: flex;
    justify-content: center;
    
}
.text-content{
    width: calc(75%-100px);
    margin: 10px 100px;
    background-color: var(--green);
    padding: 15px 50px;
    border-radius: 20px;
}
.text-content .content{
    border-right: 2px solid var(--white);
    padding: 0 25px;
}
.text-content p {
    color: var(--white);
font-size: 16px;
font-weight: 600;
line-height: 1.8;
}
@media (max-width:600px) {
    .Who-head img{
        width: 90%;
        margin: 0 20px; 
    }
     .text-content{
        width: 90%;
        margin: 10px auto;
    }
}